/* Quiz style */
.quiz-box {
  margin: auto;
  width: 500px;
  text-align: center;

}

#quiz{
  border-color: black;
  border-style: solid;
  border-width: medium;
  position: relative;
  padding: 10px;
}

.question {
  padding: 10px;
}

.options{
  margin: auto;
  width: 1000px;
  text-align: center;
}


#thumbnail2{
  padding-top: 10px;
}

